@use 'variables';

//MIXINS

@mixin propiedadForm {
    text-align: center;
    width: 100%;
}


body {

    .mainContacto {
        padding: 20px;

        .sectionForm {
            padding-top: 10%;

            h2 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1.2rem;
                margin: 10px;
                text-align: center;
            }

            .buttonForm {
                width: 80%;
                margin: 0 10%;
                background: #FBCA1F;
                font-family: inherit;
                padding: 0.6em 0.6em;
                font-weight: 900;
                border: variables.$border-main;
                border-radius: 0.4em;
                box-shadow: 0.1em 0.1em;
                color: black;
                text-decoration: none;
            
                &:hover {
                    transform: translate(-0.05em, -0.05em);
                    box-shadow: 0.15em 0.15em;
                }
            }
            }

            .formulario {
                margin: 10px;

                label {
                    display: inline-block;
                    @include propiedadForm;
                }

                input {
                    @include propiedadForm;

                    &:focus {
                        color: black;
                    }
                }

                textarea {
                    width: 100%;
                    color: black;
                }
            }
        }
    }


//CONTACTO VISTA ESCRITORIO

@media (min-width: 1024px) {
    body {
        .mainContacto{
            padding-bottom: 150px;
            .sectionForm{
                h2{
                    font-size: 4rem;
                }
                p {
                    font-size: 1.6rem;
                }
            }
        }
    }

}