@use 'variables';


.bodySomos {
    h2, p {
        margin: 10px;
    }
    .divImagenSomos {
        display: flex;
        justify-content: center;
        align-items: center;
        .imagenSomos {
            height: 260px;
            width: 300px;
            margin: 10px;
            border: variables.$border-main;
            border-radius: 5px;
        }
    }
}
